{% extends "blog/base.html" %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        <fieldset>
            <legend>Do you Want to delete all chat</legend>
            <h2 class="page-header lead text-uppercase">Want to delete {{ object.title }}</h2>
        </fieldset>
        <button type="submit" class="btn btn-danger"  value="Confirm" name="todelete">Sure ,Delete</button>
        <br>
        <a href="{% url 'chat-index'  %}" class="btn btn-success" role="button">Cancel </a>
    </form>
    <hr>
    <a class="btn-sm" href="{% url 'blog-home' %}"> Home</a>
{% endblock content %}