{% extends "polls/base.html" %}
{% block content %}
    <h1 >
        {{question.question_text}}
    </h1>
    {% if error_message %}<p><strong>{{error_message}}</strong></p>{% endif %}

    <form action="{% url 'polls:vote' question.id %}" method="POST">
        {% csrf_token %}
        {% for c in question.choice_set.all %}
        <input type="radio" name="choice" id="choice{{forloop.Counter}}" value="{{c.id}}">
        <label for="choice{{forloop.Counter}}" >{{c.choice_text}}</label><br>
        {% endfor %}

        <button type="submit">submit</button>
    </form>
{% endblock content %}